body {
    color: #777;
}

a {
    color: rgb(24,24,24);
}

a:hover {
    color: rgb(24,24,24);
}

#main {
    position: relative;
}

#form_billet_preview {
    width: 50em;
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 70%;
    box-sizing: border-box;
}

.image {
    display: inline-block;
    width: 60%;
    margin-left: 20%;
    margin-top : 1em;
    margin-bottom: 2em;
    height: auto;

}

.desc {
    text-align: center;
    font-style: italic;
}

#menuBillets {
    position: absolute;
    display: inline-block;
    right: 2em;
    width: 230px;
    height: auto;
    top :46%;
    box-shadow: 3px 2px 3px rgba(50,50,50,0.4);
}

.billet, .categorie {
    padding: 0em 1em;
    box-sizing : border-box;
    border-left: 2px transparent solid;
}


.billet a, .categorie a {
    text-decoration: none;
}

.billet:hover {
    border-left: 2px rgb(223, 117, 20) solid;
}
    
.author {
    font-style: italic;
    font-size: 1.3em;
    margin-left: 1em;
    float: left;
}

.date {
    display: inline;
    margin-top: -2em;
    font-size: 0.8em;
}

.date_billet {
    float:  

}

.infos {
    float: right;
    font-style: italic;
}

#menu .pure-menu-selected {    
    border-right: 5px rgb(223, 117, 20) solid;
    background-color: rgb(24,24,24);
}

#menu .pure-menu-selected:hover {
    border-right: none;
    background-color: rgb(50,50,50);
}

#menu .pure-menu-heading {
    background-color: rgb(80,80,80);
    color: white;
}

#menu .pure-menu li a {
    color: white;
}

#menu .pure-menu li a:hover {
    border-right: 5px rgb(223, 117, 20) solid;
    color: white;
}


.pure-flash {
    text-align: center;
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);    
}
.pure-flash-success {
    background: rgb(28, 184, 65); /* this is a green */
}
.pure-flash-warning {
  background: rgb(223, 117, 20); 
}




